:root {
    --main-tittle-color: #000000;
    --white-color: #ffffff;
    --text-color: rgba(0, 0, 0, 0.6);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    overflow: hidden;
    padding: 0 15px;
}

/* class chung */

.l-style{
    list-style: none;
}

.tdn {
    text-decoration: none;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.d-flex {
    display: flex;
}

.center {
    align-items: center;
}

.d-flex.center-center {
    align-items: center;
    justify-content: center;
}

.d-flex.center-space {
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: calc(58/48);
    letter-spacing: -0.04em;
    color: var(--main-tittle-color);
}

.text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: calc(28/16);
    color: rgba(0, 0, 0, 0.6);
}

.heart {
    font-size: 1.8rem;
    color: rgba(219, 226, 229, 1);
}

.heart.heart-active {
    color: rgba(255, 99, 99, 1);
}

.recipes__product-heat {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    top: 5%;
    right: 8%;
    background-color: var(--white-color);
}

.header__list--info.menu-active {
    transform: translateX(0);
}

/* --------- */

.slider,
.category,
.recipes,
.learn-more,
.fd-instagram,
.more-recipes,
.subscribe,
.recipes-recomment,
.blog__select-page {
    margin-bottom: 150px;
}  


.search-input {
    border-color: transparent;
    font-size: 1.6rem;
    outline: none;
    margin-left: 20px;
    width: 60%;
}

.subscribe__search-btn {
    cursor: pointer;
}

