/* header */
.header-wrap {
    height: 110px;
    max-width: 1280px;
    margin: auto;
}

.header__logo-link {
    width: 110px;
    height: 30px;
}

.header__list {
    position: relative;
}

.header__list ul{
    list-style: none;
}

.header__list-menu {
    display: none;
    font-size: 2.8rem;
    padding: 20px;
}

.header__item--close {
    display: none;
    position: relative;
    top: -150px;
    right: 70px;
    font-size: 2.8rem;
    padding: 8px;
}

.header__item-link {
    display: block;
    text-decoration: none;
    color: var(--main-tittle-color);
    font-size: 1.6rem;
    margin: 0 30px;
    font-weight: 600;
    padding: 8px 6px;
}

.header__info {
    display: none;
}

.header__icon-link {
    font-size: 2.4rem;
    margin-left: 40px;
    padding: 8px 6px;
}

.header__icon-link:first-child {
    position: relative;
    top: 5px;
}

.header::after {
    content: "";
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* slider */

.slider-wrap {
    margin: 0 5px
}

.featured {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    margin-top: 40px;
}

/* btn slider */
.slider__btn-left,
.slider__btn-right {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    background-color: transparent;
    z-index: 9999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    display: none !important;
}

.slider__btn-left {
    left: -35px;
}

.slider__btn-right {
    right: -35px;
}

.slick-prev,
.slick-next {
    font-size: 1.8rem;
    border: none;
    background-color: transparent;
}

/* --- */

.featured__intro {
    width: 100%;
    flex-basis: 48%;
    background-color: #E7FAFE;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 50px;
}

.featured__intro-recipes {
    background-color: var(--white-color);
    width: 156px;
    height: 45px;
    border-radius: 30px;
    padding: 0 20px;
}

.featured__intro-recipes span {
    font-size: 1.4rem;
}

.featured__intro-name {
    font-size: 6.4rem;
    font-weight: 600;
    margin: 40px 0;
    letter-spacing: -0.04em;
}

.featured__intro-detail {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color)
}

.featured__intro-tags {
    display: none;
    flex-wrap: wrap;
    margin-top: 40px;
}

.featured__intro-tag {
    background-color: rgba(0, 0, 0, 0.06);
    height: 45px;
    border-radius: 30px;
    padding: 0 20px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.featured__intro-tag span {
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.featured__intro-footer {
    margin-top: 40px;
}

.featured__intro-footer-author {
    align-items: center;
}

.author__info {
    margin-left: 14px;
    flex-direction: column;
}

.author__info-name {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 5px 0;
}

.author__info-time {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 5px 0;
}

.watch__video-link {
    background-color: var(--main-tittle-color);
    width: 200px;
    min-height: 60px;
    border-radius: 16px;
    padding: 0 35px;
    text-decoration: none;
}

.watch__video-link span {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.featured__img {
    width: 100%;
    flex-basis: 52%;
    position: relative;
}

.featured__img img {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured__img::after {
    content: '';
    display: none;
    position: absolute;
    top: 10%;
    left : -10%;
    background-image: url('../img/Badge.png');
    z-index: 1;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.featured__info--on {
    display: block;
    font-size: 1.8rem;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 40px;
    height: 40px;
    background-color: rgb(231 250 254);
    border-bottom-right-radius: 10px;
    animation: slip ease-in 1.5s;
    animation-iteration-count: infinite;
}

@keyframes slip { 
    from {
        transform: translateX(-3px)
    }
    to {
        transform: translateX(10px)
    }
}


/* category */

.category__more {
    width: 200px;
    height: 60px;
    background-color: #E7FAFE;
    border-radius: 20px;
    text-decoration: none;
    color: var(--main-tittle-color)
}

.category__more h3 {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.category__title-roducts {
    margin-top: 60px;
}

.category__title-roduct {
    text-align: center;
    border-radius: 30px;
    max-width: 200px;
    margin: 80px auto 0 auto;
}

.category__title-roduct:hover {
    box-shadow: 0px 4px 6px rgb(0 0 0 / 25%);
    transform: translateY(-2px);
}

.category__title-roduct a{
    display: block;
    text-decoration: none;
}

.category__title-roduct-img--wap{
    position: relative;
    top: -50px;
    display: inline-block;
}

.category__title-roduct-img {
    position: relative;
    z-index: 2;
}

.category__title-roduct-img-shadow {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    opacity: 50%;
    filter: blur(20px);
    z-index: 1;
}

.category__title-name {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: calc(22/18);
    color: var(--main-tittle-color);
    padding-bottom: 30px;   
}

/* recipes */

.recipes__title {
    text-align: center;
    margin-bottom: 60px;
}

.recipes__focus {
    margin-bottom: 25px;
}

.recipes__intro {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    max-width: 700px;
    margin: auto;
}

.recipes__product {
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    border-radius: 30px;
    padding: 0 22px;
    margin: 25px 0;
    position: relative;
}

.recipes__product:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}

.recipes__product-img {
    border-radius: 20px;
    position: relative;
    left: 0;
    width: 100%;
}

.recipes__product-container {
    min-height: 180px;
    padding: 32px 14px;
}

.recipes__product-content {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 36px;
}

.recipes__product-tags {
}

.recipes__product-tag {
    align-items: center;
    margin-right: 20px;
}

.recipes__product-tag span {
    margin-left: 15px;
    font-size: 1.4rem;
    color: var(--text-color)
}

.ads {
    margin: 15px 0;
}

/* learn-more */

.learn-more {
    max-width: 1280px;
    margin: 0 auto 160px;
}

.learn-more__content {
    max-width: 534px;
}

.learn-more__title {
    word-wrap: normal;
    margin-bottom: 30px;
}

.learn-more__deital {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    color: var(--text-color);
    margin-bottom: 70px;
}

.learn-more__imgs img {
    width: 100%;
}

.learn-more__btn a{
    max-width: 180px;
    height: 60px;
    background-color: var(--main-tittle-color);
    border-radius: 15px;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 400;
}

/* fd-instagram */

.fd-instagram {
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    padding-bottom: 80px;
}

.fd-instagram__outstanding {
    padding-bottom: 80px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fd-instagram__title {
    margin-bottom: 24px;
}

.fd-instagram__detail {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    max-width: 810px;
}

/* post */

.fd-instagram__post {
    text-decoration: none;
    flex-direction: column;
    margin: 10px 0;
}

.fd-instagram__post-header {
    background-color: var(--white-color);
    padding: 10px;
}

.fd-instagram__post-header-author {
    align-items: center;
}

.fd-instagram__post-header-info {
    margin-left: 10px;
}

.fd-instagram__post-header-info h5 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4rem;
    color: var(--main-tittle-color)
}

.fd-instagram__post-header-info p {
    font-size: 0.85rem;
    line-height: 1rem;
    color: #262626;
}

.fd-instagram__post-img {
    position: relative;
}

.fd-instagram__post-img img {
    width: 100%;
}

.fd-instagram__post-img-quantity {
    width: 26px;
    height: 20px;
    background: rgba(18, 18, 18, 0.7);
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    color: var(--white-color);
    font-size: 0.93rem;
    position: absolute;
    top: 5%;
    right: 5%;
}

.fd-instagram__post-content {
    background-color: var(--white-color);
    padding: 15px;
    min-height: 128px;
}

.fd-instagram__post-list-icon {
    margin-bottom: 12px;
}

.fd-instagram__post-interactive {
    flex: 1;
}

.fd-instagram__post-interactive svg {
    margin-right: 8px;
}

.fd-instagram__post-pagination {
    flex: 1;
    text-align: center;
}

.fd-instagram__post-save {
    flex: 1;
    text-align:right ;
}

.fd-instagram__post-outstanding-header {
    align-items: center;
    font-size: 1rem;
    margin-bottom: 8px;
}

.fd-instagram__post-outstanding-header svg {
    margin-right: 5px;
}

.fd-instagram__post-outstanding-header p {
    color: var(--text-color);
    margin: 0 4px;
}

.fd-instagram__post-outstanding-header span {
    color: var(--main-tittle-color);
}

.fd-instagram__post-outstanding-content span{
    display: block;
    color: var(--main-tittle-color);
}

.fd-instagram__post-outstanding-content p {
    color: var(--text-color);
    margin-top: 10px;
}

.fd-instagram__btn {
    width: 230px;
    height: 60px;
    background-color: var(--main-tittle-color);
    border-radius: 20px;
    padding: 0 28px;
    text-decoration: none;
    margin: 80px auto 0 auto;
}

.fd-instagram__btn span {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
}

/* more-recipes */

.more-recipes__header {
    margin-bottom: 30px;
}

.more-recipes__header-title {
    max-width: 530px;
}

.more-recipes__header-detail {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    width: 610px;
}

.more-recipes__product-wrap {
    position: relative;
}

.more-recipes__product-img {
    width: 100%;
}

.more-recipes__product-container {
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
}

.more-recipes__product-content {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin: 20px 0;
}

.more-recipes__product-tags {
    align-items: center;
    margin-bottom: 20px;
}

.more-recipes__product-tag {
    margin-right: 20px;
    align-items: center;
}

.more-recipes__product-tag span {
    margin-left: 10px;
    font-size: 1.4rem;
    color: var(--text-color)
}

.more-recipes__product {
    margin-top: 30px;
}

/* subscribe */

.subscribe {
    padding: 80px 300px;
    position: relative;
    background-color: #E7F9FD;
    border-radius: 60px;
    overflow: hidden;
}

.subscribe__content {
    text-align: center;
}

.subscribe__title {
    margin-bottom: 30px;
}

.subscribe__detail {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-bottom: 50px;
}

.subscribe__search {
    max-width: 480px;
    height: 80px;
    background-color: var(--white-color);
    border-radius: 20px;
    margin: auto;
}

.subscribe__search-input {
    border-color: transparent;
    font-size: 1.6rem;
    outline: none;
    margin-left: 20px;
}

.subscribe__search-btn {
    width: 160px;
    height: 60px;
    background-color: var(--main-tittle-color);
    border-radius: 15px;
    font-size: 1.8rem;
    color: var(--white-color);
    border: none;
    margin-right: 10px;
}

.subscribe__img1,
.subscribe__img2 {
    position: absolute;
    bottom: 0;
    display: none;
}

.subscribe__img1 {
    left: 0;
}

.subscribe__img2 {
    right: 0;
}

/* footer */

.footer__header {
    padding-bottom: 50px;
    position: relative;
}

.footer__header::after {
    content: '';
    position: absolute;
    bottom: 0;
    border: 1px solid rgb(224, 224, 224);
    width: 100%;
}

.footer__header-detail {
    margin-top: 30px;
    font-size: 1.6rem;
    color: var(--text-color);
}

.footer__header-intro {
    flex: 1;
}

.subnav-list {
    list-style: none;
}

.subnav-item {
    display: block;
    text-decoration: none;
    color: var(--main-tittle-color);
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 60px;
}

.footer__infor {
    padding: 40px 0;
}

.footer__infor-text {
    font-size: 1.8rem;
    color: var(--text-color);
    position: relative;
    left: 60px;
}

.footer__infor-text a {
    text-decoration: none;
    color: #FF7967;
}

.footer__infor-social {
    display: none;
}

.footer__infor-social a{
    color: var(--main-tittle-color);
    font-size: 2.4rem;
    margin-left: 25px;
}

.none-div {
}


