
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) { 
    html {
        font-size: 8px;
    }

    .header__logo svg {
        width: 200px;
        height: 100px;
    }

    .header__list-menu {
        position: relative;
        display: block;
        z-index: 100;
    }

    .header__list--info {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background-color: var(--white-color);
        flex-direction: column;
        align-items: center;
        padding-top: 30%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
        transform: translateX(120%);
        transition: all 0.2s linear;
    }

    .header__item {
        width: 100%;
        margin-top: 15px;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }

    .header__item-link {
        font-size: 2rem;
        padding: 18px 70px;
        margin: 0;
    } 


    .footer__header {
        display: block;
    }

    .footer__header-intro {
        text-align: center;
    }

    .featured__intro {
        max-width: 100%;
        border-radius: inherit;
    }

    .featured__img img {
        border-radius: inherit;
    }

    .learn-more {
        flex-direction: column;
    }

    .featured__intro-footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .subscribe {
        padding: 20px 20px;
    }

    .watch__video-link {
        margin-top: 20px;
    }

    .subnav {
        display: none;
    }

    .subnav-item {
        margin-left: 20px;
    }

    .footer__infor {
        display: block;
    }
    
    .footer__infor-text {
        position: initial;
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .header__item-link {
        margin: 0 12px;
    }

    .header__list--info {
        display: flex;
    }

    .featured__intro {
        max-width: 100%;
        border-radius: inherit;
    }

    .featured__img img {
        border-radius: inherit;
    }

    .learn-more {
        flex-direction: column;
    }

    .subscribe {
        padding: 20px 20px;
    }

    .subnav-item {
        margin-left: 20px;
    }

    .footer__infor {
        display: block;
    }
    
    .footer__infor-text {
        position: initial;
        text-align: center;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){

    .header__list--info {
        display: flex;
    }

    .header__item-link {
        margin: 0 25px;
    }

    .featured__intro {
        max-width: 100%;
        border-radius: inherit;
    }

    .featured__img img {
        border-radius: inherit;
    }

    .learn-more {
        flex-direction: column;
    }

    .subscribe {
        padding: 20px 20px;
    }

    .subnav-item {
        margin-left: 20px;
    }

    .footer__infor {
        display: block;
    }
    
    .footer__infor-text {
        position: initial;
        text-align: center;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1279px){
    .header__list--info {
        display: flex;
    }

    .featured__intro {
        max-width: 100%;
        border-radius: inherit;
    }

    .featured__img img {
        border-radius: inherit;
    }

    .learn-more {
        flex-direction: column;
    }

    .subscribe {
        padding: 20px 20px;
    }

    .subnav-item {
        margin-left: 20px;
    }

    .footer__infor {
        display: block;
    }
    
    .footer__infor-text {
        position: initial;
        text-align: center;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1280px) {

    .app {
        padding: 0;
    }

    .slider__btn-left,
    .slider__btn-right {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .header__info {
        display: flex;
    }

    .featured {
        flex-direction: row;
    }

    .featured__img::after {
        display: block;
    }

    .subscribe img {
        display: block;
    }

    .footer__infor-social {
        display: block;
    }
    
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}