@media (max-width: 575px){

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (max-width: 767px) {
    .grid {
        max-width: 600px;
        width: 100%;
    }

    .contact__form {
        margin-top: 80px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 991px) {
    
}

@media (min-width: 992px) and (max-width: 1279px) {

}

@media (min-width: 1280px) {

}